services:
  postgres:
    image: postgres:18
    container_name: camunda_challenge_db
    environment:
      POSTGRES_DB: camunda_challenge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
