spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/camunda_challenge
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    locations: classpath:db/migration
